.main {
  border: 10px solid black;
  margin-top: 10px;
  .info {
    .name {
      font-size: 60px;
    }

    .temperature {
      font-size: 60px;
    }
  }

  .weather__info {
    font-size: 20px;
    font-weight: bold;
  }
}